@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
li,
ol {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  //font-weight: inherit;
  //font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}

.lists {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;

  &_list {
    max-width: 200px;
    padding: 15px 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  &_list-name {
    margin-bottom: 6px;
  }
  &_task-counter {
  }
}
