@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  line-height: 1;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 40px;
}

.lists_list {
  position: relative;
  max-width: 200px;
  padding: 15px 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
}

.lists_list__active {
  background-color: #ccb6ff;
}

.lists_list-name {
  margin-bottom: 6px;
}

.lists_delete-list-btn {
  position: absolute;
  text-align: center;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: #eee;
}
