@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: Montserrat, sans-serif;
}

input {
  font-family: Montserrat, sans-serif;
}

main {
  display: flex;
  width: 100%;
}

.container {
  max-width: 600px;
  margin: auto;
}

.section-lists {
  background-color: #fff;
  padding: 10px;
}

.section-tasks {
  flex-basis: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: #f5f5f5;
}

.list-link {
  position: relative;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;

  &_active {
    background-color: #f5f5f5;
  }
}

.list-title {
  font-size: 12px;
}

.tasks-counter {
  font-size: 11px;
}

.icon-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;

  svg {
    object-fit: contain;
    fill: #bdbdbd;
  }
}

.delete-btn {
  width: 18px;
  height: 18px;
}

.lists {
  margin-bottom: 20px;

  &__list-title {
    margin-bottom: 2px;
  }

  &__tasks-counter {
    color: #aaa;
  }

  &__list-link {
    margin-bottom: 4px;
  }

  &__delete-btn {
    position: absolute;
    top: 2px;
    right: 2px;
  }
}

.tasks {
  &__header {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-title {
    font-size: 18px;
  }

  &__tasks-counter {
    font-size: 14px;
  }

  &__add-btn {
    width: 34px;
    height: 36px;
    position: absolute;
    inset: 0;
  }
}

.task {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 6px;
  cursor: pointer;
}

.task-title {
  font-size: 14px;
}

.custom-input {
  border: none;
}
.new-task-form {
  position: relative;
}
.new-task-input {
  width: 100%;
  padding-left: 30px;
  border: none;
}
