@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
svg,
path {
  pointer-events: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: Montserrat, sans-serif;
}

input {
  font-family: Montserrat, sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container {
  max-width: 600px;
  margin: auto;
}

.section-lists {
  background-color: #fff;
  padding: 10px;
}

.section-tasks {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: #f5f5f5;
}

.list-link {
  position: relative;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
}

.list-link_active {
  background-color: #f5f5f5;
}

.list-link:hover .delete-btn {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.list-link:hover:not(.list-link_active) {
  background-color: #fafafa;
}

.list-title {
  font-size: 12px;
}

.tasks-counter {
  font-size: 11px;
}

.icon-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.icon-btn svg {
  -o-object-fit: contain;
     object-fit: contain;
  fill: #bdbdbd;
}

.delete-btn {
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 18px;
  height: 18px;
  background: url(../img/delete-icon.svg) center;
  background-size: 100%;
}

.lists__list-title {
  margin-bottom: 2px;
}

.lists__tasks-counter {
  color: #aaa;
}

.lists__list-link {
  margin-bottom: 4px;
}

.lists__delete-btn {
  position: absolute;
  top: 2px;
  right: 2px;
}

.tasks {
  margin-bottom: 16px;
}

.tasks__header {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks__list-title {
  font-size: 18px;
}

.tasks__tasks-counter {
  font-size: 14px;
}

.tasks__add-btn {
  width: 32px;
  height: 36px;
  position: absolute;
  inset: 0;
}

.task {
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 6px;
  cursor: pointer;
}

.task-title {
  font-size: 14px;
}

.task:hover .task-checkbox + label::before {
  background-color: #f5f5f5;
}

.task-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.task-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.task-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.task-checkbox:checked + label {
  color: #757575;
  text-decoration: line-through;
}

.task-checkbox:checked + label::before {
  background-image: url("../img/done-icon.svg");
  background-size: contain;
}

.task-checkbox:focus + label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.task-checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

.new-task-form {
  position: relative;
}

.new-list-form {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center space-between;
}

.new-list-input {
  width: 70%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  cursor: text;
}

.new-task-input {
  width: 100%;
  padding-left: 32px;
  border: none;
  cursor: text;
}
