@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tasks-counter {
  font-size: 12px;
}

.task-name {
  font-size: 14px;
}

.section-lists {
  margin-right: 20px;
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 160px;
}

.lists_list {
  position: relative;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
}

.lists_list__active {
  background-color: #ccb6ff;
}

.lists_list-name {
  margin-bottom: 4px;
}

.lists_delete-list-btn {
  position: absolute;
  text-align: center;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background-color: #eee;
}

.lists_list-creator {
  width: 100%;
}

.section-tasks {
  min-width: 300px;
  padding: 10px 15px;
  margin-bottom: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.1);
}

.tasks_header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tasks_list {
  margin-bottom: 20px;
}

.tasks-item {
  margin-bottom: 10px;
}
