@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
svg,
path {
  pointer-events: none;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: Montserrat, sans-serif;
}

input {
  font-family: Montserrat, sans-serif;
}

main {
  display: flex;
  width: 100%;

  @media (max-width: 575.98px) {
    flex-direction: column;
  }
}

.container {
  max-width: 600px;
  margin: auto;
}

.section-lists {
  background-color: #fff;
  padding: 10px;
  flex-basis: 40%;
}

.section-tasks {
  flex-basis: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: #f5f5f5;
}

.list-link {
  position: relative;
  border-radius: 2px;
  padding: 10px;
  padding-right: 14px;
  cursor: pointer;

  &_active {
    background-color: #f5f5f5;
  }

  &:hover {
    .delete-btn {
      opacity: 1;
      transition: all 0.2s ease;
    }

    &:not(.list-link_active) {
      background-color: #fafafa;
    }
  }
}

.list-title {
  font-size: 12px;
}

.tasks-counter {
  font-size: 11px;
}

.icon-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;

  svg {
    object-fit: contain;
    fill: #bdbdbd;
  }
}

.delete-btn {
  opacity: 0;
  transition: all 0.2s ease;
  width: 18px;
  height: 18px;
  background: url(../img/delete-icon.svg) center;
  background-size: 100%;

  @media (max-width: 575.98px) {
    opacity: 0.5;
  }
}

.lists {
  &__list-title {
    margin-bottom: 2px;
  }

  &__tasks-counter {
    color: #aaa;
  }

  &__list-link {
    margin-bottom: 4px;
  }

  &__delete-btn {
    position: absolute;
    top: 2px;
    right: 2px;
  }
}

.tasks {
  margin-bottom: 16px;

  &__header {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-title {
    font-size: 18px;

    @media (max-width: 575.98px) {
      flex-basis: 60%;
    }
  }

  &__tasks-counter {
    font-size: 14px;
  }

  &__add-btn {
    width: 32px;
    height: 36px;
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &__delete-btn {
    position: absolute;
    top: 8px;
    right: 4px;
  }
}

.task {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 6px;
  cursor: pointer;

  &-title {
    font-size: 14px;
  }

  @media (min-width: 576px) {
    &:hover {
      .delete-btn {
        opacity: 1;
        transition: all 0.2s ease;
      }
    }
  }

  &:hover &-checkbox + label::before {
    background-color: #f5f5f5;
  }

  &-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
    }

    & + label::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #aaa;
      border-radius: 50%;
      margin-right: 0.5rem;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      cursor: pointer;
    }

    &:checked + label {
      color: #757575;
      text-decoration: line-through;
    }

    &:checked + label::before {
      background-image: url("../img/done-icon.svg");
      background-size: contain;
    }

    &:focus + label::before {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    &:focus:not(:checked) + label::before {
      border-color: #80bdff;
    }
  }
}

.new-task-form {
  position: relative;
}

.new-list-form {
  padding: 10px;
  display: flex;
  place-content: center space-between;
}

.new-list-input {
  width: 70%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  cursor: text;
}

.new-task-input {
  width: 100%;
  height: 34px;
  padding-left: 32px;
  border: none;
  cursor: text;
}
